# Node modules
node_modules
client/node_modules

# Build artifacts
dist
client/dist

# Git files
.git
.gitignore

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*

# Editor directories
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db 